<a href="https://colab.research.google.com/github/nitinsaimajji/Pandas/blob/main/JOSSA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df=pd.read_excel('ranks.xlsx')
df

,Institute,Academic Program Name,Quota,Seat Type,Gender,Opening Rank,Closing Rank
0,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OBC-NCL,Gender-Neutral,3044.0,4260.0
1,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OBC-NCL,Female-only (including Supernumerary),6138.0,7788.0
2,Indian Institute of Technology Bhubaneswar,Civil Engineering and M. Tech. in Structural E...,AI,OBC-NCL,Gender-Neutral,4402.0,4487.0
3,Indian Institute of Technology Bhubaneswar,Civil Engineering and M. Tech. in Structural E...,AI,OBC-NCL,Female-only (including Supernumerary),6812.0,6812.0
4,Indian Institute of Technology Bhubaneswar,Civil Engineering and M.Tech in Transportation...,AI,OBC-NCL,Gender-Neutral,3685.0,4667.0
...,...,...,...,...,...,...,...
1662,"Institute of Chemical Technology, Mumbai: Indi...","Chemical Engineering (5 Years, Integrated Mast...",HS,OBC-NCL,Gender-Neutral,33316.0,35509.0
1663,"North-Eastern Hill University, Shillong","Biomedical Engineering (4 Years, Bachelor of T...",AI,OBC-NCL,Gender-Neutral,26474.0,27316.0
1664,"North-Eastern Hill University, Shillong",Electronics and Communication Engineering (4 Y...,AI,OBC-NCL,Gender-Neutral,23014.0,24267.0
1665,"North-Eastern Hill University, Shillong","Energy Engineering (4 Years, Bachelor of Techn...",AI,OBC-NCL,Gender-Neutral,24704.0,27151.0
1666,"North-Eastern Hill University, Shillong","Information Technology (4 Years, Bachelor of T...",AI,OBC-NCL,Gender-Neutral,21224.0,21577.0

In [53]:
def sort_rank():
  import pandas as pd
  df=pd.read_excel('rank.xlsx')
  df.dropna(axis=1)
  print("enter institute")
  j=input()
  print("Academic program")
  k=input()
  print("quota")
  q=input()
  print("Gender")
  print("seat type")
  s=input()
  print("opening rank")
  r=float(input())
  print("closing rank")
  c=float(input())
  df=df.loc[(df['Institute']==j) & (df['Academic Program Name']==k) & (df['Quota']==q)  & (df['Seat Type']==s)]
  df=df[(df['Opening Rank']>=r)&(df['Closing Rank']<=c)]
  return df

In [54]:
df=sort_rank()
df

enter institute
Indian Institute of Technology Bhubaneswar
Academic program
Computer Science and Engineering (5 Years, Bachelor and Master of Technology (Dual Degree))
quota
AI
Gender
seat type
OBC-NCL
opening rank
900
closing rank
2500

,Institute,Academic Program Name,Quota,Seat Type,Gender,Opening Rank,Closing Rank
8,Indian Institute of Technology Bhubaneswar,"Computer Science and Engineering (5 Years, Bac...",AI,OBC-NCL,Gender-Neutral,961.0,1062.0
9,Indian Institute of Technology Bhubaneswar,"Computer Science and Engineering (5 Years, Bac...",AI,OBC-NCL,Female-only (including Supernumerary),2251.0,2251.0