<a href="https://colab.research.google.com/github/nitinsaimajji/Pandas/blob/main/lab_today.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [204]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn as sk

In [205]:
df=pd.read_csv("diamond.csv")

In [206]:
df

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [207]:
## 2. Write a program to filter the DataFrame rows to only show carat weight at least 0.3

In [208]:
df1=df.loc[df['carat']<=0.3]
df1

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
5       0.24  Very Good     J    VVS2   62.8   57.0    336  3.94  3.96  2.48
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53635   0.30      Ideal     I    VVS1   62.1   56.0    552  4.30  4.33  2.68
53636   0.30      Ideal     D     SI1   61.6   57.0    552  4.28  4.32  2.65
53637   0.30  Very Good     D     SI1   62.5   57.0    552  4.26  4.28  2.67
53638   0.30      Ideal     D     SI1   61.0   57.0    552  4.29  4.33  2.63
53639   0.30      Ideal     D     SI1   61.0   56.0    552  4.35  4.37  2.66

[4203 rows x 10 columns]

In [209]:
## 3. find the diamonds that are either Premium or Ideal

In [210]:
df1 = df[(df['cut'] == 'Premium') | (df['cut']=='Ideal')]
df1

       carat      cut color clarity  depth  table  price     x     y     z
0       0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
3       0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
11      0.23    Ideal     J     VS1   62.8   56.0    340  3.93  3.90  2.46
12      0.22  Premium     F     SI1   60.4   61.0    342  3.88  3.84  2.33
...      ...      ...   ...     ...    ...    ...    ...   ...   ...   ...
53931   0.71  Premium     F     SI1   59.8   62.0   2756  5.74  5.73  3.43
53934   0.72  Premium     D     SI1   62.7   59.0   2757  5.69  5.73  3.58
53935   0.72    Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53938   0.86  Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75    Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[35342 rows x 10 columns]

In [211]:
## 4 . calculate the mean of each numeric column of diamonds DataFrame

In [212]:

cols=['carat','depth','price','table','x','y','z']

for i in cols:
  print(df[i].mean())

0.7979397478680014
61.749404894327036
3932.799721913237
57.45718390804598
5.731157211716722
5.734525954764553
3.5387337782721544

In [213]:
## 6. calculate count, minimum, maximum price for each cut of diamonds DataFrame

In [214]:
groupby=df.groupby('cut')
for cut,group in groupby:
    print("count=",group.shape[0])

count= 1610
count= 4906
count= 21551
count= 13791
count= 12082

In [215]:
## 7 .	display rows 0, 5, 7 and all columns of diamonds DataFrame

In [216]:
result=df.iloc[[0,5,7]] 
result

   carat        cut color clarity  depth  table  price     x     y     z
0   0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
5   0.24  Very Good     J    VVS2   62.8   57.0    336  3.94  3.96  2.48
7   0.26  Very Good     H     SI1   61.9   55.0    337  4.07  4.11  2.53

In [217]:
## 8. display rows 2 through 5 and all columns of diamonds DataFrame

In [218]:
result=df.iloc[2:5] 
result

   carat      cut color clarity  depth  table  price     x     y     z
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [219]:
## 9.	Display rows 0 through 2 (inclusive), columns 'color' and 'price' of diamonds DataFrame.

In [220]:
result=df.iloc[0:3,[2,6]]
result

  color  price
0     E    326
1     E    326
2     E    327

In [221]:
## 10.	Display rows 2 through 5 (inclusive), columns in positions 0 through 2 (exclusive) of diamonds DataFrame

In [222]:
result=df.iloc[2:6,0:2]
result

   carat        cut
2   0.23       Good
3   0.29    Premium
4   0.31       Good
5   0.24  Very Good

In [223]:
## 11.	Identify the columns with missing values

In [224]:
df.isna().any()

carat      False
cut        False
color      False
clarity    False
depth      False
table      False
price      False
x          False
y          False
z          False
dtype: bool

In [225]:
## 12.	Drop all the rows with missing values

In [226]:
df.dropna(axis=0)

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [227]:
## 13.	Drop all columns with missing values

In [228]:
df.dropna(axis=1)

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [229]:
## 14.	Replace all the missing values with

In [230]:
## a) a specific value

In [231]:
df.fillna(0)

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [232]:
## b)mean of the column .

In [233]:
data=df.fillna(df.mean())
data

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [234]:
## 15.	Normalize the data using min-max normalization and write the updated dataframe to a different csv file

In [239]:
df1=df.iloc[:,[0,4,5,6,7,8,9]]
df1

       carat  depth  table  price     x     y     z
0       0.23   61.5   55.0    326  3.95  3.98  2.43
1       0.21   59.8   61.0    326  3.89  3.84  2.31
2       0.23   56.9   65.0    327  4.05  4.07  2.31
3       0.29   62.4   58.0    334  4.20  4.23  2.63
4       0.31   63.3   58.0    335  4.34  4.35  2.75
...      ...    ...    ...    ...   ...   ...   ...
53935   0.72   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 7 columns]

In [240]:
from sklearn import preprocessing
import pandas as pd
scaler=preprocessing.MinMaxScaler()
name=df1.columns
d=scaler.fit_transform(df1)
scaled_df=pd.DataFrame(d,columns=name)
scaled_df.head()

      carat     depth     table     price         x         y         z
0  0.006237  0.513889  0.230769  0.000000  0.367784  0.067572  0.076415
1  0.002079  0.466667  0.346154  0.000000  0.362197  0.065195  0.072642
2  0.006237  0.386111  0.423077  0.000054  0.377095  0.069100  0.072642
3  0.018711  0.538889  0.288462  0.000433  0.391061  0.071817  0.082704
4  0.022869  0.563889  0.288462  0.000487  0.404097  0.073854  0.086478

In [ ]:
scaled_df.to_csv('file1.csv')